{% extends "@Woolf/base.html.twig" %}
{% block body %}
    <h2>This page about me</h2>
    <hr>
    <h3>This project for GeekHub.</h3>
    <img class="rounded mx-auto d-block" style="margin-top: 10%" src="{{ asset('img/farnsworth-650x348.jpg') }}" alt="Futurama img">
{% endblock %}