{{ form_start(form, {method: 'POST', action: path('comment_new', {'postSlug': post.id})}) }}
    {{ form_widget(form.content, {attr: {rows: 8}}) }}
    <br>
    <div class="form-group">
        <button class="btn btn-primary pull-right" type="submit">
            Add comment <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
    </div>
{{ form_end(form) }}