{% extends '@Woolf/base.html.twig' %}
{% block body %}
    {% if results|length > 0  %}
        {% for post in results %}
            <a href="{{ path('show_post', {'id': post.id}) }}"><p>{{ post.title }}</p>
        {% endfor %}
    {% else %}
        <h3>There are no posts for this request</h3>
    {% endif %}
{% endblock %}